<html>
<head>
    <title>All clients</title>
</head>
<body background="https://s1.1zoom.ru/big0/686/Closeup_Pocket_watch_Clock_face_Zenith_Pilot_Type_576637_1280x800.jpg"
      style="color:#00FFFF">
<h1>All employyes of the company</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Sername</th>
        <th>Post</th>
    </tr>
    {{#employeeList}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{sername}}</td>
            <td>{{post}}</td>
        </tr>
    {{/employeeList}}
</table>
<h1>Other info about employyes of the company</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Sex</th>
        <th>City of birthday</th>
        <th>Salary</th>
    </tr>
    {{#employeeInfoList}}
        <tr>
            <td>{{id}}</td>
            <td>{{sex}}</td>
            <td>{{cityOfBirthday}}</td>
            <td>{{salary}}</td>
        </tr>
    {{/employeeInfoList}}
</table>

</body>
</html>
