<html>
<head>
    <title>Add employee</title>
</head>

<body background="https://s1.1zoom.ru/big0/686/Closeup_Pocket_watch_Clock_face_Zenith_Pilot_Type_576637_1280x800.jpg"
      style="color:#00FFFF">
<h1>Delete employee of the company by Id</h1>

<form name="delete" action="deleteById" method="post">
    Input Id: <input type="text" name="ID"/><br/>

    <input type="submit" value="Delete employee by Id"/>
</form>

</body>
</html>