<html>
<head>
    <title>Employee info</title>
</head>

<body background="https://s1.1zoom.ru/big0/686/Closeup_Pocket_watch_Clock_face_Zenith_Pilot_Type_576637_1280x800.jpg"
      style="color:#00FFFF">
<h1>Add employee info</h1>

<form name="employeeInfo" action="newEmployee" method="post">
    Sex:<select id="sex" name="sex">
    <option value="man">man</option>
    <option value="woman">woman</option>
    </select><br/>
    City of birthday: <input type="text" name="cityOfBirthday"/><br/>
    Salary: <input type="text" name="salary"/><br/>
    <input type="submit" value="Add new employee"/>
</form>

</body>
</html>