<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Database some company</title>
</head>

<body background="https://s1.1zoom.ru/big0/686/Closeup_Pocket_watch_Clock_face_Zenith_Pilot_Type_576637_1280x800.jpg"
      style="color:#00ff90">
<h1 align="center"><font size="8" color="#00ffff">Database of gas transport workers</font> </h1>

<h2 align="center"><a href="http://localhost:8080/company/addEmployee"><font size="8" color="#FF8C00">Add new employee</font></a></h2>
<h2 align="center"><a href="http://localhost:8080/company/allEmployees"><font size="8" color="#FF8C00">Show all employees</font></a></h2>
<h2 align="center"><a href="http://localhost:8080/company/delete"><font size="8" color="#FF8C00">Delete employee by ID</font></a></h2>


</body>
</html>