<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Database some company</title>
</head>

<body background="https://s1.1zoom.ru/big0/621/Texture_programming_0_1_577641_1280x693.jpg"
      style="color:#00ff90">
<h1 align="center"><font size="8" color="#daa520">Database of gas transport workers</font> </h1>

<h2 align="center"><a href="http://localhost:8080/company/addEmployee"><font size="8" color="#daa520">Add new employee</font></a></h2>
<h2 align="center"><a href="http://localhost:8080/company/allEmployees"><font size="8" color="#daa520">Show all employees</font></a></h2>
<h2 align="center"><a href="http://localhost:8080/company/delete"><font size="8" color="#daa520">Delete employee by ID</font></a></h2>


</body>
</html>