<html>
<head>
    <title>Gas Transport Company</title>
</head>

<body background="https://s1.1zoom.ru/big0/686/Closeup_Pocket_watch_Clock_face_Zenith_Pilot_Type_576637_1280x800.jpg"
      style="color:#00ff90">
<h1 align="center">Database of gas transport workers</h1>

<h2 align="center"><a href="http://localhost:8080/company/addEmployee"><font size="6" color="#FF8C00">Add new employee</font></a></h2>
<h2 align="center"><a href="http://localhost:8080/company/allEmployees"><font size="6" color="#FF8C00">Show all employees</font></a></h2>


</body>
</html>